CompileFlags:
  Add:
    - -DSPN_IMPLEMENTATION
    - -DSP_IMPLEMENTATION
    - -DSP_APP
    - -DSP_APP_IMPLEMENTATION
    - -include sp.h
    - "-I./source/build/"
Diagnostics:
  Suppress:
    - unused-includes
    - misc-definitions-in-headers
    - macro-redefined
    - sign-compare
