.cache
compile_commands.json
.vscode

build/*
!build/bootstrap/
!build/bootstrap/*.tar.xz
examples/**/*.lock.lua

test/**/build
test/**/spn.lock

.claude
CLAUDE.md
.mcp.json

.spackle/*
external/*
test/tmp
asset/docker
target/distrib
build/bootstrap/bin
