.cache
compile_commands.json
.vscode

build/*
bootstrap/bin
examples/**/*.lock**

test/**/build
test/**/spn.lock

.claude
CLAUDE.md
.mcp.json

.spackle/*
external/*
test/tmp
asset/docker
target/distrib
build/bootstrap/bin
