  {
    sp_str_t raw = sp_zero;
    if (spn_codegen_raw_optional(ctx, table, "{{ .key }}", &raw)) {
      spn_codegen_launcher_from_str(ctx, raw, &out->{{ .key }}.program, &out->{{ .key }}.args);
    }
  }
