    sp_io_write_c8(out, '{');
    {
      bool launcher_first = true;
      spn_codegen_json_key(out, &launcher_first, sp_str_lit("program"));
      spn_codegen_json_str(out, in->{{ .key }}.program);
      if (sp_da_size(in->{{ .key }}.args) > 0) {
        spn_codegen_json_key(out, &launcher_first, sp_str_lit("args"));
        spn_codegen_json_str_array(out, in->{{ .key }}.args);
      }
    }
    sp_io_write_c8(out, '}');
