    sp_io_write_c8(out, '[');
    sp_da_for(in->{{ .name }}, it) {
      if (it) {
        sp_io_write_c8(out, ',');
      }
      spn_codegen_json_str(out, {{ .to }}(in->{{ .name }}[it]));
    }
    sp_io_write_c8(out, ']');
