    sp_io_write_c8(out, '{');
    sp_om_for(in->{{ .name }}, it) {
      const {{ .type }}* entry = sp_om_at(in->{{ .name }}, it);
      if (it) {
        sp_io_write_c8(out, ',');
      }
      spn_codegen_json_str(out, entry->{{ .key_field }});
      sp_io_write_c8(out, ':');
      spn_cg_{{ .object }}_write(entry, out);
    }
    sp_io_write_c8(out, '}');
