bool spn_toolchains_read(sp_str_t json, spn_cg_root_t* out, sp_mem_t mem) {
  yyjson_doc* doc = yyjson_read(json.data, json.len, 0);
  if (!doc) {
    return false;
  }
  spn_cg_{{ .root_name }}_read(yyjson_doc_get_root(doc), out, mem);
  yyjson_doc_free(doc);
  return true;
}

sp_str_t spn_toolchains_write(sp_mem_t mem, const spn_cg_root_t* in) {
  sp_io_dyn_mem_writer_t sink;
  sp_io_dyn_mem_writer_init(mem, &sink);
  spn_codegen_json_writer_t pretty;
  spn_codegen_json_writer_init(&pretty, &sink.base);
  spn_cg_{{ .root_name }}_write(in, &pretty.base);
  return sp_io_dyn_mem_writer_as_str(&sink);
}
