static void spn_cg_{{ .entry }}_read_map(yyjson_val* obj, const c8* key, sp_da({{ .entry_type }})* out, sp_mem_t mem) {
  yyjson_val* map = yyjson_obj_get(obj, key);
  *out = sp_da_new(mem, {{ .entry_type }});
  if (!yyjson_is_obj(map)) {
    return;
  }
  size_t i, n;
  yyjson_val* k;
  yyjson_val* v;
  yyjson_obj_foreach(map, i, n, k, v) {
    {{ .entry_type }} entry = sp_zero;
    entry.key = sp_str_from_cstr_n(mem, yyjson_get_str(k), (u32)yyjson_get_len(k));
    if (yyjson_is_obj(v)) {
      spn_cg_{{ .object }}_read(v, &entry.value, mem);
    } else {
      const c8* s = yyjson_get_str(v);
      if (s) {
        entry.value.{{ .shorthand }} = sp_str_from_cstr_n(mem, s, (u32)yyjson_get_len(v));
      }
    }
    sp_da_push(*out, entry);
  }
}
