static void spn_cg_{{ .object }}_read_named(yyjson_val* obj, const c8* key, spn_cg_{{ .object }}_om_t* out, sp_mem_t mem) {
  yyjson_val* arr = yyjson_obj_get(obj, key);
  sp_str_om_init(*out);
  size_t i, n;
  yyjson_val* v;
  yyjson_arr_foreach(arr, i, n, v) {
    if (yyjson_is_obj(v)) {
      {{ .type }} entry = sp_zero;
      spn_cg_{{ .object }}_read(v, &entry, mem);
      sp_str_om_insert(*out, entry.{{ .key_field }}, entry);
    }
  }
}
