typedef {{ .root_type }} spn_cg_root_t;

static void spn_cg_root_read(spn_codegen_ctx_t* ctx, toml_table_t* table, spn_cg_root_t* out) {
  spn_cg_{{ .root_name }}_read(ctx, table, out);
}

static sp_str_t spn_cg_root_write(sp_mem_t mem, const spn_cg_root_t* in) {
  sp_io_dyn_mem_writer_t sink;
  sp_io_dyn_mem_writer_init(mem, &sink);
  spn_codegen_json_writer_t pretty;
  spn_codegen_json_writer_init(&pretty, &sink.base);
  spn_cg_{{ .root_name }}_write(in, &pretty.base);
  return sp_io_dyn_mem_writer_as_str(&sink);
}

#endif
